<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_tank_b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,126},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,52}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>p_tank_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,52}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>p_tank_r_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,180},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,50}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>p_tank_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,192},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,50}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>ui_loading_b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,102}}</string>
                <key>sourceSize</key>
                <string>{415,102}</string>
            </dict>
            <key>ui_loading_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{342,84}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{342,84}}</string>
                <key>sourceSize</key>
                <string>{352,104}</string>
            </dict>
            <key>ui_loading_w_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{160,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,26}}</string>
                <key>sourceSize</key>
                <string>{160,26}</string>
            </dict>
            <key>ui_loading_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>ui_p_fan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,106},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>ui_p_fan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{66,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{66,68}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>ui_p_fan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,192},{76,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,27}}</string>
                <key>sourceSize</key>
                <string>{76,27}</string>
            </dict>
            <key>ui_p_fan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,72},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{499,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a6dcdcad461da7261d68ee97c2f3fe5:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
