<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{232,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,340}}</string>
                <key>sourceSize</key>
                <string>{232,340}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{231,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,340}}</string>
                <key>sourceSize</key>
                <string>{231,340}</string>
            </dict>
            <key>card_tribe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,340}}</string>
                <key>sourceSize</key>
                <string>{232,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warChess.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d1c44635e2a7b8d89ac39a23ade5284:1/1$</string>
            <key>textureFileName</key>
            <string>warChess.png</string>
        </dict>
    </dict>
</plist>
