<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>buff/ui_buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,132},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>buff/ui_buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,130},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>buff/ui_buff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,104},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>card_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,544},{232,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,340}}</string>
                <key>sourceSize</key>
                <string>{232,340}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,544},{231,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,340}}</string>
                <key>sourceSize</key>
                <string>{231,340}</string>
            </dict>
            <key>card_tribe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{232,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,340}}</string>
                <key>sourceSize</key>
                <string>{232,340}</string>
            </dict>
            <key>role/aizilieren/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/aizilieren/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/aizilieren/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/anyenan/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/anyenan/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/anyenan/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/daizei/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/daizei/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/daizei/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/daxiaojie/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/daxiaojie/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/daxiaojie/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/fangzhuan/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/fangzhuan/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/fangzhuan/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/fasi/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/fasi/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/fasi/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/lieren/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/lieren/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/lieren/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/luoyan/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/luoyan/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/luoyan/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/mt/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/mt/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/mt/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/mushi/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/mushi/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/mushi/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/soldier_alliance/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/soldier_alliance/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/soldier_alliance/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/soldier_tribe/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,53},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>role/soldier_tribe/skill/skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>role/soldier_tribe/skill/skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>ui_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,156},{79,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,14}}</string>
                <key>sourceSize</key>
                <string>{79,14}</string>
            </dict>
            <key>ui_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,104},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ui_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,544},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{75,66}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>ui_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,544},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>ui_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,886},{502,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,95}}</string>
                <key>sourceSize</key>
                <string>{502,95}</string>
            </dict>
            <key>ui_tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{502,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,95}}</string>
                <key>sourceSize</key>
                <string>{502,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warChess.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:febc18ad361071abf9e1758aacb66e2d:1/1$</string>
            <key>textureFileName</key>
            <string>warChess.png</string>
        </dict>
    </dict>
</plist>
