<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) : %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="SIZE_ROLLING_FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="gameserver.log" /><!-- 设置日志输出文件名 -->
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="BufferedIO" value="true" />
		<!-- 8K为一个写单元 -->
		<param name="BufferSize" value="8192" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) : %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="DAILY_ROLLING_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="gameserver.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) : %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- 发邮件（只有ERROR时才会发送！） -->
	<appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
		<!-- 日志的错误级别 -->
		<param name="threshold" value="error" />
		<!-- 缓存文件大小，日志达到512K时发送Email -->
		<param name="BufferSize" value="512" /><!-- 单位K -->
		<param name="From" value="test@163.com" />
		<param name="SMTPHost" value="smtp.163.com" />
		<param name="Subject" value="juyee-log4jMessage" />
		<param name="To" value="test@163.com" />
		<param name="SMTPUsername" value="test" />
		<param name="SMTPPassword" value="test" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) : %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIZE_ROLLING_FILE" />
	</appender>

	<category name="org.quartz" additivity="false">
		<priority value="warn" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIZE_ROLLING_FILE" />
	</category>

	<!-- 根logger的设置 -->
	<root>
		<priority value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIZE_ROLLING_FILE" />
	</root>
</log4j:configuration>